In [1]:
import ipywidgets

In [2]:
ipywidgets.__version__

'7.4.2'

In [3]:
a = 10

In [8]:
import pandas

In [9]:
pandas.__version__

'0.24.1'

In [10]:
import numpy

In [11]:
numpy.__version__

'1.16.1'

In [1]:
import logging

logging.basicConfig(level=logging.DEBUG,
                    format='%(asctime)s | %(levelname)s : %(message)s',
                    handlers=[logging.FileHandler("example.log"),
                              logging.StreamHandler()])
logging.debug('This message should go to the log file and to the console')
logging.info('So should this')
logging.warning('And this, too')

2019-02-22 14:37:59,249 | DEBUG : This message should go to the log file and to the console
2019-02-22 14:37:59,251 | INFO : So should this
2019-02-22 14:37:59,253 | WARNING : And this, too

In [13]:
from ipywidgets import FloatProgress
from IPython.display import display
f = FloatProgress(min=0, max=100)
display(f)
f.value += 1

FloatProgress(value=0.0)

In [15]:
f.value += 40

In [6]:
import pandas as pd
import numpy as np
from tqdm import tqdm

df = pd.DataFrame(np.random.randint(0, 100, (100000, 6)))

# Register `pandas.progress_apply` and `pandas.Series.map_apply` with `tqdm`
# (can use `tqdm_gui`, `tqdm_notebook`, optional kwargs, etc.)
tqdm.pandas(desc="my bar!")

# Now you can use `progress_apply` instead of `apply`
# and `progress_map` instead of `map`
df.progress_apply(lambda x: x**2)
# can also groupby:
# df.groupby(0).progress_apply(lambda x: x**2)

my bar!: 100%|██████████| 6/6 [00:00<00:00, 108.19it/s]

          0     1     2     3     4     5
0      1089  2916   225   900  2116   841
1      2116  4225  5329  6241  5776  2601
2      2601   529  3025  2116  8100  3844
3      1369  6241   484  7396   225   900
4      4489   196  1296   441    81  1936
5       121  5625   324  3600  4900  6724
6      2025  7744  9801  3136   400  7396
7       289   144   324   144   361  2025
8      4624  4900  3364     9  8281  1156
9      5184   676  4225  1024  9216  3969
10     9409  3481  6084  8464  4900     9
11       25     4  7056   400    36  9216
12      729  1089  7921   144  3136   900
13     2025  4489  5625  7921   784   196
14     9025  8464    25  8464  3600    81
15     1521  4900  3136  1521  7744  2401
16     3364  3025  1849  8100   400   256
17      256  9216   729  6561     4  9216
18     5476  1156  5184  9801   900  5625
19     8836  8836     4  3844    36     1
20     6724  5476  1764   256  1024  6241
21     2500    36    49  4761   729  6889
22     7225  3364   676  6084  4489  3481
23     7396  1764   169   784   625  3600
24     8100  2601  5184  5329   289  2500
25     8649  4761  2500     4     9   225
26     4225  2916  3600  5625  8100   900
27      100  6889  3481  6241  6724  1444
28      289  5041  9801  8100     0  4489
29      784   676  8100  5041   196  2401
...     ...   ...   ...   ...   ...   ...
99970  6561    16  2304  8649  4356    81
99971  7225  4489   625  6889   676  6400
99972  4225  9604  7396   100  1024  5929
99973  6724  9801   784  8836     4  2116
99974  2304  3721  2601  2601  4761   144
99975   841  7225  2401  9025  4225  1024
99976  3600  3844  7396  5184   576  1764
99977  1444    36  4225  1521   324     0
99978   256   361  3721  5041  1089    25
99979  1024     9   100  9604  2809   676
99980  5041   484  1681    16  5476  1936
99981  1849  3364  2809  5041   484  5776
99982  6084  8836  5929  5041  2601  9604
99983  7744  1936  5184   961  8100   529
99984  1764  8100  8100  7056  3969  7396
99985  3025  3481  7396  4489  5329  5041
99986  5776   900    25     4  9604   361
99987  4096    36  3364  7744    25  2304
99988  1296  1369   625  3136  3600  7744
99989  3364  5929  5929  1024   361   121
99990   100   225  8464  3136  9801  5929
99991  3249   900  1681  6724     1  7921
99992  1521  7921  5329  1600     1  6724
99993   400  9801  3025  8100   576  6561
99994   441  2500  1681   676  1600  1089
99995  1024  1369  7744  3600  2304  3969
99996  2601  5329   484  6724  6241  1849
99997  7744   121  1444  3481  1849  8100
99998  1600  3136  3481  1156   529     0
99999   324  1681  1444  9604   196   121

[100000 rows x 6 columns]

In [5]:
from tqdm import tnrange, tqdm_notebook
from time import sleep

for i in tnrange(3, desc='1st loop'):
    for j in tqdm_notebook(range(100), desc='2nd loop'):
        sleep(0.01)

HBox(children=(IntProgress(value=0, description='1st loop', max=3, style=ProgressStyle(description_width='init…

HBox(children=(IntProgress(value=0, description='2nd loop', style=ProgressStyle(description_width='initial')),…

HBox(children=(IntProgress(value=0, description='2nd loop', style=ProgressStyle(description_width='initial')),…

HBox(children=(IntProgress(value=0, description='2nd loop', style=ProgressStyle(description_width='initial')),…

\begin{equation}\label{eq_pop_update}
v_{t_u}= 
\begin{cases}
    2v_{t_u-1},& \text{if } A_{p,t_u}<A_{p,t_u-1}.\\
    -2\frac{v_{t_u-1}}{|v_{t_u-1}|}, & \text{otherwise}.
\end{cases}
\end{equation}

In [7]:
from utils import marcelo
df['marcelo'] = df.progress_apply(marcelo)

my bar!: 100%|██████████| 6/6 [00:00<00:00, 364.17it/s]

In [8]:
df.columns

Index([0, 1, 2, 3, 4, 5, 'marcelo'], dtype='object')

In [9]:
df.head()

    0   1   2   3   4   5  marcelo
0  33  54  15  30  46  29  marcelo
1  46  65  73  79  76  51  marcelo
2  51  23  55  46  90  62  marcelo
3  37  79  22  86  15  30  marcelo
4  67  14  36  21   9  44  marcelo